<!DOCTYPE html>
<html>
    <head>
        <title>Rock Code Labs</title>
        <link rel="icon" type="image/png" href="{$Source['img']->render('favicon', '.ico')}">
        <meta charset="UTF-8">
        {loop="$Style"}{$value->run()}{/loop}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body  class="bg-default">
        <header>
            <img src="{$Source['img']->render('logo')}" alt="RockCode Logo!">
            <nav>
                <ul>
                    <li>
                        <a href="#about">sobre</a>                        
                    </li>
                    <li>
                        <a href="#experience">Experiência</a>
                    </li>
                    <li>
                        <a href="#education">Educação</a>
                    </li>
                    <li>
                        <a href="#portfolio">PortFólio</a>
                    </li>
                    <li>
                        <a href="#contact">Contato</a>
                    </li>
                </ul>
            </nav>
        </header>
    <main>
