<!DOCTYPE html>
<html>
    <head>
        <title>Rock Code Labs</title>
        <link rel="icon" type="image/png" href="/resources/images/favicon.ico">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/resources/main/css/fonts.css">
        <link rel="stylesheet" href="/resources/main/css/personalite.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body  class="bg-default">
        <header>
            <img src="/resources/images/logo.png" alt="RockCode Logo!">
            <nav>
                <ul>
                    <li>
                        <a href="#about">sobre</a>                        
                    </li>
                    <li>
                        <a href="#experience">Experiência</a>
                    </li>
                    <li>
                        <a href="#education">Educação</a>
                    </li>
                    <li>
                        <a href="#portfolio">PortFólio</a>
                    </li>
                    <li>
                        <a href="#contact">Contato</a>
                    </li>
                </ul>
            </nav>
        </header>
    <main>
